.cardContainerBg {
    background-color: #212121;
    /* min-height: 20vw; */
    width: 100%;
    /* position: relative;

    transform: translateY(-70%);
    bottom: 1rem;
    z-index: 2 */
}

.card {
    width: calc(100% / 6 - 1rem);
    height: 300px;
    margin-top: 3rem;
    position: relative;
}

.card img {
    position: absolute;
    top: 0;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;

}

.card p {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    padding: 0.5rem 0;
    font-size: 1rem;
}

.btn {
    text-transform: uppercase;
    background-color: #3B7EF0;
    color: #ffffff;
    font-weight: 800;
    border: 0;
}

.label {
    padding: 0.5rem 1rem;
    display: inline-block;
    position: relative;
    top: -2rem;

}

.loadBtn {
    padding: 0.5rem 3rem;
    margin: 2rem auto;
    display: block;
}