.cardContainerBg {
    background-color: #212121;
    /* min-height: 20vw; */
    width: 100%;
    /* position: relative;

    transform: translateY(-70%);
    bottom: 1rem;
    z-index: 2 */
}

.btn {
    text-transform: uppercase;
    background-color: #3B7EF0;
    color: #ffffff;
    font-weight: 800;
    border: 0;
}

.label {
    padding: 0.5rem 1rem;
    display: inline-block;
    position: relative;
    top: -2rem;

}

.loadBtn {
    padding: 0.5rem 3rem;
    margin: 2rem auto;
    display: block;
}