.card {
    width: calc(100% / 6 - 1rem);
    height: 300px;
    margin-top: 3rem;
    position: relative;
}

.card img {
    position: absolute;
    top: 0;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;

}

.card p {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    padding: 0.5rem 0;
    font-size: 1rem;
}