.jumbo {
    width: 100%;
    /* 
    object-fit: cover; */
    /* position: relative;
    top: 6rem;
    bottom: 0;
    z-index: 0 */
    height: 30rem;
    overflow: hidden;
}

.jumbo img {
    width: 100%;

}