/******************FOOTER*********************>^.^<**********************************/

footer {
  /* min-height: 30vh; */
  background-image: url(./src/assets/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  /* background-color: cornflowerblue; */
  position: relative;
  margin-bottom: 0;
}

footer div div {
  width: calc(100% / 5 - 4rem);
}

footer p {
  font-size: small;
}