* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #222;
  color: #fff;
}

.flexContainer{
    display: flex;
}
.flexCenter{
    align-content: center;    
}
.flexCenterItems{
    align-items: center;    
}
.flexBetween{
    justify-content: space-between;
}
.fStart{
    align-self: flex-start;
}
.fRow{
    flex-direction: row;
}
.fWrap{
    flex-wrap: wrap;
}
.fEnd{
    justify-content: flex-end;
}
.boxed{
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
}

/*******************HEADER*************************>^.^<************************************/

header{
 
  background-color: #FFFFFF;
  
}
header div img{
    width: 5rem;
    margin-left: 0;
}
 main, #footerMainLinks >*, #footerLinks>* , #footerSocialBar> *{
 
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
}


#navMenu{
  display:flex;
  height: 100%;
  font-weight: 700;
  gap: 1.5rem;
  list-style-type: none;
}
#navMenu a{
  color: #212121;
  text-decoration: none;

}
#navMenu a:hover{
  color: #397CEA;
}
#navMenu li{
    height:100%;
}
#navMenu li:hover{
    text-decoration: underline;
    text-decoration-color:#397CEA;
    
}
/******>^.^<**************************MAIN*****************************************************/
main{
  /* min-height: 60vh; */
  background-image: url();
  background-color: #212121;
}


/******************FOOTER*********************>^.^<**********************************/

footer{
  /* min-height: 30vh; */
  background-image: url(./src/assets/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: fit-content;
  /* background-color: cornflowerblue; */
  margin-bottom: 0;
}
footer div div{
    width:calc(100% / 5 - 4rem);
}
footer p{
  font-size: small;
}
.footerMainLinks img {
    height: 5rem;
}
.footerMainLinks{
  min-height: 6rem;
  background-color: #397CEA;
  color:#FFFFFF;
}
.footerLinks{
    height:25rem;
    gap: 1.5rem;
}
.footerLinks ul{
    list-style: none;
    padding: 2rem;
    white-space: nowrap;

}
.footerLinks ul h3{
    padding: 1rem 0;
}
.footerLinks a, .footerSocialBar a{
  color: #FFFFFF;
  text-decoration: none;

}
.fLinkImage{
    align-self: center;
    height:120%;
    background-repeat: no-repeat;
}
.footerSocialBar{
  min-height: 6rem;
  background-color: #333333;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}
.footerSocialBar img{
    padding: 4px;
}
.fSignUpBtn{
    background-color: transparent;
    border-color: #397CEA;
    border-width: 2px;
    border-style: solid;
    color: #FFFFFF;
    padding: 1rem;
    margin-right: auto;
    

}