* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
}

.flexContainer {
    display: flex;
}

.flexCenter {
    align-content: center;
}

.flexCenterItems {
    align-items: center;
}

.flexBetween {
    justify-content: space-between;
}

.fStart {
    align-self: flex-start;
}

.fRow {
    flex-direction: row;
}

.fWrap {
    flex-wrap: wrap;
}

.fEnd {
    justify-content: flex-end;
}

.boxed {
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
}