* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #222;
  color: #fff;
}

/*******************HEADER*************************>^.^<************************************/

header{
 
  background-color: #FFFFFF;
  
}
header div, main, #footerMainLinks >*, #footerLinks>* , #footerSocialBar> *{
 
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
}


#navMenu{
  display:flex;
  height: 100%;
  font-weight: 700;
  gap: 1.5rem;
}
#navMenu a{
  color: #212121;
  text-decoration: none;

}
#navMenu a:hover{
  color: #397CEA;
}
#navMenu li:hover{
  border-bottom-width: 2px;
  border-bottom-color:#397CEA;
}
/******>^.^<**************************MAIN*****************************************************/
main{
  /* min-height: 60vh; */
  background-image: url();
  background-color: #212121;
}


/******************FOOTER*********************>^.^<**********************************/

footer{
  min-height: 30vh;
  background-image: url(./assets/img/footer-bg.jpg);
  background-color: cornflowerblue;
  margin-bottom: 0;
}
#footerMainLinks{
  min-height: 6rem;
  background-color: #397CEA;
}
#footerSocialBar{
  min-height: 6rem;
  background-color: #333333;
}
